<body>
    <h1>Vendor Details: </h1>

    <h2>@Model["vendors"].VendorDescription</h2>
    <h3>Order: @Model["Vendor"].VendorName</h3>

    <a href='/vendors/@Model["vendors"].Id/orders/new'>Add another order</a>
    <a href='/vendors'>View all vendors</a>

  </body>